/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Standard
  ========================================
*/

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

/*
  ========================================
  Headers  
  ========================================
*/

h1 .background {
    color: #4aaaa5;
}

.main-header {
   background-color:#ffffff;
   color: #cccccc;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: #666666;
}

.main-content {
    background-color: #ffffff;
    border-color: #dddddd;
}




/*
  ========================================


  Requirements !!!



Colors Pro-tip: Use the Eye Dropper Chrome extension to find the colors used on web pages.


Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd




Fonts:


For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.



Profile Image Found on index.html:


Use a picture of yourself.
If you don't have a picture, you can grab a placeholder image from LoremPixel. Save the images to your images folder.



Portfolio Images:


Placeholder images can be found at LoremPixel.
Save the images to your images folder.



Background Images:


The background pattern used was found on Subtle Patterns. You can browse through that site and find whichever pattern you like.



Dimensions:


The entire content and the main section content area is 960px wide. 

========================================
*/