/*
  ========================================
  Standardization
  ========================================
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  
  ========================================
*/



.top {
	background-color: white;
	padding-bottom: 60px;
	border-color:#cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-right: 40px;
}

.middle {
	clear:both;
	float: left;
	height: 500px;
	padding: 20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-style: solid;
	border-width: 1px;
	border-color:#dddddd;
	background-color: #ffffff;
	width: 960px;

}

body {
	background-image: url(assets/images/background.png);
}
            
h1{
    background-color: #4aaaa5;
    display: block;
	padding: 18px;
	color: White;
	float: left;
	margin-left: 40px;
	margin-right: 100px;
	font-weight: bold;
	font-size: x-large;
}

li {
	float: right;
	padding: 20px;
	margin-right: 10px;
}

p {
	clear: both;
	margin-top: 10px;
    color: #777777;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	background-color: #ffffff;
	color: grey;

}

h2 {
	clear: both;
	font-weight: bold;
	color: #4aaaa5;
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: x-large;
	margin-bottom: 5px;
}

footer {
	clear: both;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color:#4aaaa5;
	background-color: grey;
	padding: 20px;
	color: white;
	text-align: center;
  }
  
.profile {
	float: left;
	margin: 5px;
	margin-right: 20px;
}