/*
  ========================================
	Notes:
		Nav Bar full width
		
  ========================================

			 ___.___
  			  c[_]`=--X 


  		 __                   ___                       
 		|""|  ___    _   __  |"""|  __                  
 		|""| |"""|  |"| |""| |"""| |""| 
 		|""| |"""|  |"| |""| |"""| |""| 
 		|""| |"""|  |"| |""| |"""| |""| 
 		"'''"''"'""'"""''"''''"""'""'""'  
  ========================================
*/

/*
  ========================================
  Elements
  ========================================
*/

html {
	height: 100%;
}

body {
	overflow: visible;
	height: 100%;
}
            
h1{
    background-color: #4aaaa5;
    display: block;
	padding: 18px;
	color: white;
	float: left;
	font-weight: bold;
	font-size: x-large;
}

li {
	float: right;
	padding-right: 8px;
	margin: 20px;
	margin-right: 10px;
	border-right-width: 1px;
	border-right-color: #777777;
	border-right-style: solid;
}

p {
	clear: both;
	margin-top: 10px;
    color: #777777;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	background-color: #ffffff;
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	clear: both;
	font-weight: bold;
	color: #4aaaa5;
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: x-large;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

footer {
	clear: both;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color:#4aaaa5;
	background-color: grey;
	padding: 20px;
	color: white;
	text-align: center;
	position: relative;
	width: 100%;
	bottom: 0;
}

/*
  ========================================
  Background
  ========================================
*/

body {
	background-image: url(../images/white-waves.png);
}


/*
  ========================================
  Links
  ========================================
*/

a:link {
	text-decoration: none;
	color:#777777;
}

a:visited {
	text-decoration: none;
	color:#777777;
}


/*
  ========================================
  Sections
  ========================================
*/

.top-bar {
	clear: both;
	padding-bottom: 0;
	background-color: 0;
	border-color:#cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.middle {
	clear:both;
	float: left;
	margin: 0 auto;
	height: auto;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-style: solid;
	border-width: 1px;
	border-color:#dddddd;
	background-color: #ffffff;
	width: 960px;

}

.main-content {
	min-height: 100%;
}

.top-bar {
	clear: both;
	top: 0;
	background-color: white;
	padding-bottom: 60px;
	border-color:#cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	width: 960px;
}

.center{
	margin: auto;
	width: 50%;
}

/*
  ========================================
  Images
  ========================================
*/
  
.profile {
	float: left;
	margin-right: 20px;
}

.portfolio-icon {
	float: left;
	width: 250px;
	height: 250px;
	margin-bottom: 50px;
	margin-right: 50px;
}

.portfolio-text {
	clear: both;
	float: left;
	text-align: center;
	background-color: #4aaaa5;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	width: 230px;
	margin-top: 190px;
	margin-right: 50px;
}

.container {
	float: left;
	position: relative;
}


/*
  ========================================
  Form submission
  ========================================
*/

form{
	clear:both;
	padding-left: 10px;
	padding-right: 25px;
	color: #777777;
	font-family: Arial, Helvetica, sans-serif;	
}

input[type=submit] {
	background-color: #4aaaa5;
	color: white;
	padding: 8px 25px;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

input[type=text], textarea {
	width: 100%;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
}

textarea {	
	height: 200px;
}

